/*
  global styles
*/

/*
  spinner - Full page loading
*/
.full-page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  margin: 8px;
  border: 4px solid #1da1f2;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1da1f2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
  loading component
*/

.loading-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem;
}

/*
  not found component
*/

.not-found-component {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-component h2 {
  font-size: 1.2rem;
  color: #1da1f2;
}

/*
  login screen
*/
.btn-close-modal-sign-up {
  color: #fff;
  left: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.1s;
}

.btn-close-modal-sign-up:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-close-modal-sign-up span {
  font-size: 1.1rem;
  font-weight: 900;
  transform: translateY(-1px);
}

.menu-login-sign-up a {
  cursor: pointer;
}

.wrapper-login form button:disabled,
.wrapper-content-modal-sing-up .modal-header-sign-up div button:disabled {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

.wrapper-login form button:disabled:hover,
.wrapper-content-modal-sing-up .modal-header-sign-up div button:disabled:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: initial !important;
}

.tuit-layout-component {
  padding: 0.2rem 1rem !important;
}

.modal-main-form .field-input-text-form input[type='password'] {
  width: 100%;
  background-color: unset;
  border: unset;
  padding: 0.2rem 0.4rem;
  font-size: 1.1rem;
  color: #fff;
}

.modal-main-form .field-input-text-form input[type='password']:focus {
  outline: none;
}

button:disabled {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: initial !important;
  border: unset !important;
}

/*
  navbar mobile
*/

@media (max-width: 442px) {
  .nav-bar-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b2836;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav-bar-mobile a {
    margin: 0 2rem;
  }

  .nav-bar-mobile a svg {
    width: 30px;
    fill: #fff;
  }

  .nav-bar-mobile .tuitah-tuit {
    background-color: #1da1f2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-bar-mobile .tuitah-tuit svg {
    width: 25px;
  }

  .tuit-date {
    font-size: 0.6rem !important;
    display: none;
  }

  .tuit-layout-component {
    padding: 1rem 1rem 0.5rem !important;
  }

  .home-tuits-layout,
  .profile-layout-screen {
    padding-bottom: 5rem;
  }
}

@media (min-width: 443px) {
  .nav-bar-mobile {
    display: none;
  }
  .tuit-layout-component {
    padding: 1rem 1rem 0.1rem !important;
  }
}

.might-like-users {
  max-height: 550px !important;
  overflow-y: auto;
}

.might-like-users::-webkit-scrollbar {
  width: 2px;
}

.might-like-users::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 5px;
}
